@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Global Styles */
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* Header */
.header {
  background-color: #222222;
  padding: 25px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__right-group {
  display: flex;
  align-items: center;
}

.header__search {
  margin-left: 40px;
}

.header__icons {
  color: #fff;
  margin-left: 40px;
}

.header__menu {
  filter: drop-shadow(6px 4px 35px rgba(0, 0, 0, 0.21));
  padding: 32px 33px;
  background-color: #FFFFFF;
  width: 148px;
  position: absolute;
  right: 0;
  z-index: 1000;
  transition: visibility 0.3s, opacity 0.3s;
}

.header__menu-title {
  font-family: Lato-Bold, sans-serif;
  font-size: 14px;
  color: #000000;
}

.header__menu-item {
  text-transform: uppercase;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
}
.header__menu-item a {
  text-decoration: none;
  color: #F16D7F;
}

.header__menu-subitem {
  color: #6F6E6E;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  text-transform: none;
  margin-left: 20px;
  margin-top: 10px;
}
.header__menu-subitem a {
  text-decoration: none;
  color: #6F6E6E;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 60px 0;
  background-color: #F8F3F4;
}
.breadcrumbs__wrapper {
  display: flex;
  justify-content: space-between;
}
.breadcrumbs__title {
  color: #F16D7F;
  font-family: Lato-Regular, sans-serif;
  font-size: 24px;
}

ul.breadcrumbs__items {
  padding: 10px 16px;
  list-style: none;
}
ul.breadcrumbs__items li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumbs__items li + li:before {
  padding: 8px;
  color: black;
  content: "/ ";
}
ul.breadcrumbs__items li a {
  color: #636363;
  font-family: Lato-Light, sans-serif;
  text-decoration: none;
}
ul.breadcrumbs__items li:last-child {
  color: #F16D7F;
  font-family: Lato-Bold, sans-serif;
}

/* Featured Items */
.featured-items__title {
  font-family: Lato-Regular, sans-serif;
  font-size: 30px;
  color: #222222;
  text-align: center;
  margin-bottom: 5px;
}

.featured-items__subtitle {
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
  color: #9F9F9F;
  text-align: center;
  margin-bottom: 73px;
}

.featured-items__cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}

.featured-items__item {
  width: 360px;
  background-color: #F8F8F8;
}
.featured-items__item:hover .featured-items__image {
  background-blend-mode: multiply;
  background-color: rgba(58, 56, 56, 0.86);
}
.featured-items__item:hover .featured-items__cart {
  visibility: visible;
  opacity: 1;
}

.featured-items__image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  min-height: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s;
}

.featured-items__image1 {
  background-image: url("../images/featured_1.jpg");
}

.featured-items__image2 {
  background-image: url("../images/featured_2.jpg");
}

.featured-items__image3 {
  background-image: url("../images/featured_3.jpg");
}

.featured-items__image4 {
  background-image: url("../images/featured_4.jpg");
}

.featured-items__image5 {
  background-image: url("../images/featured_5.jpg");
}

.featured-items__image6 {
  background-image: url("../images/featured_6.jpg");
}

.featured-items__cart {
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  padding: 13px 16px;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: visibility 0.3s;
}

.featured-items__cart-icon {
  width: 26px;
  margin-right: 10px;
}

.featured-items__cart-text {
  color: #ffffff;
  font-family: Lato-Regular, sans-serif;
  font-size: 14px;
}

.featured-items__card-title {
  font-family: Lato-Regular, sans-serif;
  font-size: 13px;
  color: #000000;
  margin: 24px 16px 16px;
}

.featured-items__description {
  font-family: Lato-Light, sans-serif;
  font-size: 14px;
  color: #5D5D5D;
  margin: 0 16px 16px;
}

.featured-items__price {
  font-family: Lato-Regular, sans-serif;
  font-size: 16px;
  color: #F16D7F;
  margin: 0 16px 24px;
}

.featured-items__button {
  display: block;
  max-width: 145px;
  font-family: Lato-Regular, sans-serif;
  font-size: 16px;
  padding: 15px 39px;
  color: #F26376;
  border: 1px solid #F26376;
  text-decoration: none;
  margin: 0 auto 50px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}
.featured-items__button:hover {
  color: #FFFFFF;
  border: 1px solid #F26376;
  background-color: #F26376;
}

/* Footer */
.footer {
  height: 19px;
  padding: 30px 0;
  background-color: #222224;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer__copyright {
  color: #FBFBFB;
  font-family: Lato-Regular, sans-serif;
  font-size: 16px;
}

.footer__icons-inner {
  display: flex;
  gap: 7px;
}

.footer__icon {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}
.footer__icon path {
  transition: fill 0.3s;
}
.footer__icon:hover {
  background-color: #F16D7F;
}
.footer__icon:hover path {
  fill: #FFFFFF;
}

/* Media Queries */
@media screen and (min-width: 1025px) and (max-width: 1199px) {
  /* CSS styles for screens between 1025px and 1199px */
  /* Featured Items */
  .featured-items__cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS styles for screens between 768px and 1024px */
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* Header */
  .header__left-group:first-child {
    margin-left: 16px;
  }
  .header__right-group:last-child {
    margin-right: 16px;
  }
  /* featured Items */
  .featured-items__cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 381px) and (max-width: 767px) {
  /* CSS styles for screens between 381px and 767px */
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* Header */
  .header__account, .header__cart, .top-content__left {
    display: none;
  }
  /* Featured Items */
  .featured-items__cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
  }
  .featured-items__item {
    width: 320px;
    background-color: #F8F8F8;
  }
  .featured-items__image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* Footer */
  .footer {
    height: 60px;
    padding: 30px 0;
    background-color: #222224;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 380px) {
  /* CSS styles for screens between 320px and 380px */
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* Header */
  .header__account, .header__cart, .top-content__left {
    display: none;
  }
  /* Featured Items */
  .featured-items__cards-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
  }
  .featured-items__item {
    width: 100%;
    background-color: #F8F8F8;
  }
  .featured-items__image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  /* Footer */
  .footer {
    height: 70px;
    padding: 30px 0;
    background-color: #222224;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .footer__copyright {
    color: #FBFBFB;
    font-family: Lato-Regular, sans-serif;
    font-size: 16px;
    order: 1;
  }
}

/*# sourceMappingURL=product.css.map */
